@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-serif-display {
  font-family: var(--font-bodoni), serif;
}

.scrollbar-hide::-webkit-scrollbar,
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide,
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
